{% extends 'base.html' %}

{% block title %}To-Do lists{% endblock %}

{% block container_content %}

      <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
          <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="POST" action="{% block form_action %}{% endblock %}">
              <!-- replace old form:
              <input name="item_text" id="id_new_item" class="form-control input-lg"
                     placeholder="Enter a to-do item" />
              with ItemForm passed to template -->
              {{ form.text }}
              {% csrf_token %}
              {% if form.errors %}  <!-- list of errors for the form -->
                <div class="form-group has-error">
                  <span class="help-block">{{ form.text.errors }}</span>
                </div>
            {% endif %}
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {% block table %}
          {% endblock %}
        </div>
      </div>

{% endblock %}
