[Unit]
Description=Gunicorn server for staging.ep-eye.com

[Service]
Restart=on-failure
User=jd
WorkingDirectory=/home/jd/sites/staging.ep-eye.com
EnvironmentFile=/home/jd/sites/staging.ep-eye.com/.env

ExecStart= poetry run gunicorn --bind unix:/tmp/staging.ep-eye.com.socket server.wsgi:application

[Install]
WantedBy=multi-user.target
